:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #333;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  padding: 12px;
  margin-bottom: 12px;
  border: 2px solid #ccc;  /* 부드러운 회색 테두리 */
  border-radius: 8px;  /* 둥근 테두리 */
  background-color: rgb(255, 229, 221);  /* 흰색 배경 */
  font-size: 16px;  /* 글자 크기 */
  width: 100%;  /* 입력창을 가득 채우게 설정 */
  box-sizing: border-box;  /* 패딩과 테두리를 포함한 전체 크기 */
}

textarea {
  padding: 12px;
  margin-bottom: 12px;
  border: 2px solid #ccc;  /* 부드러운 회색 테두리 */
  border-radius: 8px;  /* 둥근 테두리 */
  background-color: rgb(255, 229, 221);  /* 흰색 배경 */
  font-size: 16px;  /* 글자 크기 */
  width: 100%;  /* 입력창을 가득 채우게 설정 */
  box-sizing: border-box;  /* 패딩과 테두리를 포함한 전체 크기 */
}

/* input 포커스 시 강조 */
input:focus {
  border-color: #3182ce;  /* 파란색 테두리 */
  outline: none;  /* 기본 outline 제거 */
  box-shadow: 0 0 5px rgba(49, 130, 206, 0.7);  /* 파란색 그림자 추가 */
}

textarea:focus {
  border-color: #3182ce;  /* 파란색 테두리 */
  outline: none;  /* 기본 outline 제거 */
  box-shadow: 0 0 5px rgba(49, 130, 206, 0.7);  /* 파란색 그림자 추가 */
}

input::placeholder {
  color: #a0aec0;  /* 입력창에 placeholder 텍스트 색상 */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;